.contact-form{
    width: 100%;
    height: 85vh;
}

.contact-form form{
    width: 50%;
    height: 85vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
}

.inputs{
    width: 100%;
}